@import "fonts.css";

/* donation */
.ContainerPrincipal {
    padding-inline: 80px;
}

@media (max-width: 768px) {
    .ContainerPrincipal {
        padding-inline: 16px !important;
    }
}

.adopted h1 {
    /* font-size: 2.5rem; */
    color: black;
    /* margin-inline: 78px; */
    /* margin-bottom: 5%; */
}

.adopted_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-inline: 78px; */
    gap: 20px;
    margin-block: 5%;
}

.adopted_container h2{
    font-size: 1.5rem;
    color: #2C2046;
    margin-bottom: 20px;
}

.adopted_container p{
    font-size: 1rem;
    text-align: justify;
    color: black;
}

@media (max-width: 1024px) {
    .adopted_container {
        flex-direction: column;
    }

    .divi_img {
        display: none;
    }
}