/* .contact {
    padding: 0px 80px 0px 80px;
} */

.contact {
    margin-top: 120px;
    padding-inline: 80px;
}

.font_2rem {
    font-size: 2rem;
}

/* Mobile: até 768px */
@media (max-width: 768px) {
  #imagem-cachorro-contato {
    display: none;
  }

  .contact_container-form {
    width: unset !important;
    max-width: none !important;
    width: 100% !important;
  }

  .contact {
    padding-inline: 5% !important;
  }
}

input, textarea:focus-visible {
    outline-color: black;
}

input, textarea:focus {
    outline-color: black;
}

.contact_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.contact_container-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 800px;
    background-color: #F3F3F3;
    flex-grow: 0;
    border-radius: 10px;
    padding: 15px;
}

.contact_container img{
    flex-grow: 1;
    width: 50%;
}

.contact_container-form-label{
    font-size: 1.2rem;
    color: #2C2046;
    font-weight: 50;
}

.contact_container-form-input{
    width: 100%;
    border: 1px solid black;
    border-radius: 14px;
    min-height: 30px;
    max-height: 60px;
    padding: 10px;
}

.contact_container-form-textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 14px;
    min-height: 30px;
    padding: 10px;
}

.contact_container-form-button{
    background: #2C2046;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 20px 40px;
    margin-top: 24px;
    width: 100%;
}

