/* donation */
.ContainerPrincipal {
    padding-inline: 80px;
}

@media (max-width: 768px) {
    .ContainerPrincipal {
        padding-inline: 16px !important;
    }
}

.ImagemDoacao {
    margin-top: 16px;
}

.FlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}