*{
    padding: 0;
    margin: 0;
    font-family: space-grotesk, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color : #2C2046;

}

/* header */

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #2C2046;
    margin-inline: 78px;
}

.header_img{
    width: 80px;
    height: 20px;
}


.nav_list{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.nav_item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.nav_item:hover{
    cursor: pointer;
    background: #555086;
    color: white;
    border-radius: 5px;
    outline: 2px solid #555086;
    padding: 10px 20px;
    transition: all 0.3s ease-out;

}




.nav_item-buttom{

    border: 2px solid #2C2046;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;

}


.nav_item a:visited, .nav_item-buttom a:visited {
    color: inherit; 
}

