@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

*{
    padding: 0;
    margin: 0;
    font-family: space-grotesk, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/* header */

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #2C2046;
    margin-inline: 78px;
    font-size: 1.1rem;
    margin-bottom: 60px;
}

.header_img{
    width: 80px;
    height: 20px;
}

.nav_list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.nav_item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.nav_item:hover{
    cursor: pointer;
    background: #555086;
    color: white;
    border-radius: 5px;
    outline: 2px solid #555086;
    padding: 10px 20px;
    transition: all 0.3s ease-out;

}

.nav_item-buttom{

    border: 2px solid #2C2046;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;

}

.nav_item a:visited, .nav_item-buttom a:visited {
    color: inherit; 
}



/* footer */

.footer{
    margin-inline: 78px;
    background-color: #2C2046 !important;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px 88px !important;
    color: white ;
    
}

.footer_img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_img .footer_img_instagram{
    width: 50px;
    height: 50px;
}

.footer_img1{
    width: 100px;
}

.footer_copy{
    color: white;
    text-align: left;
    font-size: 1.2rem;

}

.footer_contato{
    display: flex;
    justify-content: center; ;
    align-items: center;
    margin-top: 20px;
    margin-top: 1% !important;
    gap: 20px;
}

.footer_contato_form{
    display: flex;
    gap: 20px !important;
    background-color: #292A32;
    padding: 7%;
    text-align: center !important;
    align-items: center !important;
    justify-content: center;
    margin: 0 auto;
}

.footer_contato_text-contato{
    text-align: center;
    background: #7B58C2 ;
    width: 40%;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.footer_contato_form-form-input{

    background: #292A32;
    margin-right: 16px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 30px;

}

.footer_contato_form-form-button{
    text-align: center;
    justify-content: center;
    background: #7B58C2;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    max-width: 100%;
    padding: 30px; 

}

.footer_contato_text{
    color: white;
    text-align: left;
    font-size: 1.2rem;
}

.footerMobile{
    display: none;
}

@media screen and (max-width: 1000px) {
    .footer{
        display: none;
    }
    .footerMobile{
    display: block;
    background-color: #2C2046 !important;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px 88px !important;
    color: white ;
    }

    .footer_containerMobile{
        text-align: center;
        margin-top: 20px;
        margin-top: 1% !important;
        gap: 20px;
    }

    .footer_contatoMobile{
        margin-top: 20px;
    }

    .footer_contato_formMobile{
        margin: 0 auto;
        background-color: #292A32;
        max-width: 320px;
        width: 100%;
        padding: 24px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    .footer_contato_form-form-inputMobile{
        background: #292A32;
        border: 2px solid white;
        border-radius: 5px;
        margin-bottom: 20px;
        max-width: 100%;

    }

    .footer_contato_form-form-buttonMobile{
    background: #7B58C2;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    padding: 12px 0;
    margin: 0 auto;
    display: block;
    }

    .footer_contato_form-form-inputMobile,
.footer_contato_form-form-buttonMobile {
    padding: 10% 10%;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
}

.footer_contato_text-contatoMobile{
    margin: 0 auto;
    background: #7B58C2 ;
    width: 150px;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 30px !important;
}

}